
body {
  font-family: "Muli", serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", serif;
}

p {
  color: #8f8f8f;
}


/* Headings */

.big-heading {
  font-family: "Muli", serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.logo-heading {
  width: 32px;
  /* text-align: left; */
  padding-bottom: 14px;
  padding-right: 0px;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #5DB91B;
  color: #fff;
}

.alt-colored-section {
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: #74BC20;
  color: #fff;
}

.about-colored-section {
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: #288143;
  color: #000000;
}

.about-colored-text {
  color: #fff;
}

.pad-left {
  /* padding-left: 15%; */
  text-align: left;
  padding-right: 7%;
}

.white-section {
  background-color: #fff;
  opacity:1.0;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Crimson Text', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Muli";

}


/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  /* background-color: #59A272; */
  background-color: #288143;
  color: #FFF;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #288143;
  margin-bottom: 1rem;
  opacity:1.0;
}

.icon:hover {
  color: #B2DD83;
}

/* Testimonial Section */

#testimonials {
  background-color: #A2C453;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #B2DD83;
  padding-bottom: 3%;
}

.press-logo {
  width: 25%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column {
  margin: auto;
  padding: 3% 2%;
}

.ceo-image {
  border-radius: 100%;
  max-width: 80%;
  height: auto;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
